# Frontend
frontend/node_modules/
frontend/dist/

# Backend
keeper-backend/target/

# Eclipse
.classpath
.project
.settings/
.factorypath

# VS Code
.vscode/

# IntelliJ
.idea/
*.iml

# Logs
*.log

# Environment files
.env
.env.local

# OS files
.DS_Store
Thumbs.db